<connectionStrings>
  <!-- Connection String for Localhost -->
  <!--<add name="yafnet" connectionString="Server=WINDOWS-5ACNNE7;Database=kunming;User Id=sa;Password=Garthan1;"/>-->
  <!-- Connection String for myasp.net -->
  <add name="yafnet" connectionString="Data Source=103.198.77.142\SQLEXPRESS,1433;Network Library=DBMSSOCN;Initial Catalog=kunming;User ID=janc;Password=Garthan@#1;Connection Timeout=60" providerName="System.Data.SqlClient" />
  <!-- Connection String for Singapore VPS -->
  <!--<add name="yafnet" connectionString="Server=.\SQLEXPRESS;Database=kunming;User Id=janc;Password=Garthan@#1;" providerName="System.Data.SqlClient" />-->

  <!-- Connection String for SQL Server 2005/2008 with Standard Security -->
  <!--<add name="yafnet" connectionString="Data Source=(local);Initial Catalog=yafnet;User ID=YOURUSER;Password=YOURPASSWORD" providerName="System.Data.SqlClient" />-->
    
  <!-- Connection String for SQL Server 2005/2008 Express -->
  <!--<add name="yafnet" connectionString="Data Source=.\SQLExpress;Integrated Security=True;User Instance=True;AttachDBFilename=|DataDirectory|Database.mdf;" providerName="System.Data.SqlClient"/>-->
</connectionStrings>